<h1>Current watering: <%=pipe[:name]%></h1>
<p>Status: right now water <%= pipe[:active] ? "is going" : "turned off"%> (pin <%=pipe[:pin]%>)</p>
<p>Turn on for <input name="timeout" value="15m"></p>
<h3>Timetable:</h3>
<table>
  <tr><th>when</th><th>period</th></tr>
  <tr><td>every monday</td><td>1h</td></tr>
</table>
<%= crons.to_a %>

<p>You can change pin <a href="/pipes/<%=pipe[:id]%>/edit">here</a></p>